# Web Push VAPID Keys
# Generate new keys using: npx web-push generate-vapid-keys
WEBPUSH_PUBLIC_KEY=BHy2SrmleeiRQ7SXuDAcSQE2-t5G1hr2vU8MfR9TTWl3wpu--yiGiR9ak-ad0ASSlgseJG3BrHbd1CBsLriWa5s
WEBPUSH_PRIVATE_KEY=huVJXf_XYE4xag1unkHTXTQK7-Clx0UAO0N77myaASA
WEBPUSH_SUBJECT=mailto:wishful@gmail.com
